body {
    background-image: url(../ımages/backimage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
    
    
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.con{
    font-family: 'Antic Slab', serif;
    font-size: 23px;
    line-height: 38px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
    letter-spacing: -1px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 1px 10px black;
    max-width: 700px;
    height: 80vh;
    justify-content: center;
    
}
